.lsn-table {
  table-layout: auto;
  width: 100%;
  text-align: start;
  border-radius: 8px 8px 0 0;
  border-collapse: separate;
  border-spacing: 0;
}

.lsn-table-cell {
  position: relative;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 500;
  text-align: start;
  border-bottom: 1px solid #f0f0f0;

  padding: 16px 16px;
  overflow-wrap: break-word;
}

.lsn-table-header-cell {
  background: #fafafa;
  font-weight: 600;
}

.table-image {
  width: 100px;
  height: 80px;
}
