body {
  min-height: 200vh;
}

header {
  height: 60px;
  width: 100%;
  background-color: #e6f7ff;
  border: 1px solid #096dd9;

  position: sticky;
  top: 0;
  z-index: 2;
}

.parent {
  background-color: #e6fffb;
  border: 5px solid #08979c;

  height: 600px;
  padding: 20px;
  margin: 100px;
  margin-top: 0;
  padding: 10px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.parent-child {
  width: 200px;
  height: 200px;

  position: relative;

  border: 5px solid #ffe58f;

  transition: all 1s;
}

.parent-child-actions {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 5px;

  position: absolute;
  left: 0;
  top: 0;

  opacity: 0;
  transition: all .2s ease;
}

.parent-child-actions-icon {
  width: 32px;
  height: 32px;
  background-color: gray;
  border-radius: 4px;
}

.parent-child::after {
  content: " ";
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
  margin-top: -150px;
  height: 150px;
  width: 100%;

  transition: all .2s;
}

.parent-child:hover::after { opacity: 0; }

.parent-child:hover .parent-child-actions { opacity: .5; }
.parent-child:hover .parent-child-actions:hover { opacity: 1; }

.controls {
  opacity: 0;
}

.parent-child-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  padding: 5px;
  background-color: #a0d911;
  color: #FFFFFF;
}
